/* modified: 2012-01-02 */

body {margin: 0; padding: 0; }
h1 {padding: 5px; margin: 0;}
h2 {margin: 5px; margin-left: 0;}


#perm-links    {float: right; width: 1000px; margin: 0; margin-top: 8px; margin-right: 5px; padding: 0;}
#perm-links ul {list-style: none; margin: 0; padding: 5px;}
#perm-links li {display: inline; width: 150px;}
#perm-links a  { margin: 0; padding-top: 2px; padding-bottom: 2px;  padding-left: 10px; padding-right: 10px}


#main-menu    {width:  19%; float: left; margin-bottom: 25px; padding: 3px; padding-bottom: 60px;}
#main-menu a  {width:  96%; display: block; margin: 0; padding: 1px;}
#main-menu h3 {width: 110%; margin: 0;}
#main-menu ul {width:  92%; margin: 0; padding-left: 25px;}
#main-menu li {margin-top: 0px; margin-bottom: 1px;}


#content {margin-left: 22%; /*margin-right: 22%;*/ padding-left: 8px; padding-right: 8px; padding-bottom: 10px;}


#footer {clear: both; padding: 2px;}
h5 {margin: 0;}
